<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GraphConfigFile" value="GraphConfig.json" />
    <add key="MaxTasks" value="10" />
    <add key="DocDBEndPoint" value="{{Put your DocumentDB endpoint here}}" />
    <add key="DocDBKey" value="{{Put your DocumentDB key here}}" />
    <add key="DocDBDatabase" value="{{Put your DocumentDB database name here}}" />
    <add key="DocDBCollection" value="{{Put your DocumentDB collection name here}}" />
    <add key="ErrorLogPath" value="..\..\..\..\GraphData\Error.log" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>